on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/cubi-isa-templates
    steps:
      - name: Create GitHub release
        uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          release-type: python
          package-name: cubi-isa-templates

      - uses: actions/checkout@v5
        if: ${{ steps.release.outputs.release_created }}
        with:
          fetch-depth: 0

      - name: Set up Python
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Build package
        if: ${{ steps.release.outputs.release_created }}
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools
          python setup.py sdist

      - name: Publish to PyPI
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@release/v1
